@import https://fonts.google.com/share?selection.family=Permanent+Marker

*{
    margin: 0;
    padding: 0;
}
.h1{
    font-family: 'Permament Marker',font-style: cursive;
    text-align: center;
}
-wrapper{
    width: 90%;
    margin: 0 auto;
}
