@import https://fonts.google.com/share?selection.family=Permanent+Marker

.box-area {
  width: 300px;
  border: 15px 
    background-color: green;
  padding: 50px;
  margin: 960px;

}

body{
    font-family: 'Permament Marker', cursive;
    text-align: center;
}
-wrapper{
    width: 90%;
    margin: 0 auto;
}


.credits {  font-family: 'Permament Marker',font-style: cursive;
    text-align: center;
}

.h1 
 {color="purple"
       }
